<a href="https://colab.research.google.com/github/SebastianOsorio20/FDS-2022-2-CC52/blob/main/Regresi%C3%B3n_Logistica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importe de librerias necesarias

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

Leer data limpia y numerada

In [ ]:
df = pd.read_csv('data_A.csv', index_col = 0)

Dividir la data en X y

In [ ]:
X = df.drop(['A_Purchased Bike'], axis = 1)

In [ ]:
df['Target'] = df['A_Purchased Bike']

In [ ]:
df = df.drop(['A_Purchased Bike'], axis = 1)

In [ ]:
y = df.Target

# Regresi√≥n Logistica

**Divide los datos en conjunto de entrenamiento y conjunto de prueba usando train_test_split**

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()

In [ ]:
X.head()

,A_Marital Status,A_Gender,A_Income,A_Children,A_Education,A_Occupation,A_Home Owner,A_Cars,A_Commute Distance,A_Region,A_Age
ID,,,,,,,,,,,
12496,0,0,40000.0,1.0,0,0,0,0.0,0,0,42.0
24107,0,1,30000.0,3.0,1,1,0,1.0,0,0,43.0
14177,0,1,80000.0,5.0,1,2,1,2.0,1,0,60.0
24381,1,1,70000.0,0.0,0,2,0,1.0,2,1,41.0
25597,1,1,30000.0,0.0,0,1,1,0.0,0,0,36.0

In [ ]:
preprocessed_data = pd.DataFrame(scaler.fit_transform(X))

In [ ]:
preprocessed_data.head()

,0,1,2,3,4,5,6,7,8,9,10
0,-0.919249,-1.022247,-0.525458,-0.562487,-1.078949,-1.270416,-0.676554,-1.299062,-1.062266,-1.381374,-0.192737
1,-0.919249,0.978237,-0.848467,0.672391,-0.381503,-0.555896,-0.676554,-0.403775,-1.062266,-1.381374,-0.104325
2,-0.919249,0.978237,0.766578,1.907270,-0.381503,0.158623,1.478078,0.491513,-0.352669,-1.381374,1.398666
3,1.087845,0.978237,0.443569,-1.179927,-1.078949,0.158623,-0.676554,-0.403775,0.356927,-0.237852,-0.281148
4,1.087845,0.978237,-0.848467,-1.179927,-1.078949,-0.555896,1.478078,-1.299062,-1.062266,-1.381374,-0.723204

**Entrena y ajusta un modelo de regresi√≥n log√≠stica en el conjunto de entrenamiento.**

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(preprocessed_data, y, train_size=0.7, random_state = 20, stratify=y)

In [ ]:
y_train

ID
22211    0
11801    0
16245    0
22006    0
19399    0
        ..
24381    1
28858    0
28068    1
19255    1
12497    0
Name: Target, Length: 700, dtype: int64

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
logmodel = LogisticRegression(solver='lbfgs', max_iter=1000)
logmodel.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

## Predicciones y evaluaciones
**Ahora se predice valores para los datos de prueba.**

In [ ]:
predictions = logmodel.predict(X_test)

**Crea un reporte de clasificaci√≥n para el modelo.**

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.65      0.65      0.65       156
           1       0.62      0.62      0.62       144

    accuracy                           0.64       300
   macro avg       0.64      0.64      0.64       300
weighted avg       0.64      0.64      0.64       300

## Buen trabajo!